/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app_old
old_v
resources_old
routes_old
public/settings
public/student-import-files
public/students_imported_files
public/teachers_imported_files
public/uploads
resources/lang
/composer.lock

!/resources/lang/
/resources/lang/*
!/resources/lang/ar/
!/resources/lang/en/
/resources/lang/ar/*
/resources/lang/en/*
!/resources/lang/ar/auth_log.php
!/resources/lang/en/auth_log.php
